:root{
    --main-bg-color: darkblue;
    --main-text-color: white;
    --content-width: 800px;
    --aside-bg-color: #eee;
    --aside-border-color: black;
    --box-shadow: 0 0 30px gray;    
}



nav{
    background-color: (--main-bg-color);
    padding: 10px;
}

main{
    max-width: var(--content-width);
}

nav a {
    color: (var(--main-text-color));
    display: block;
    padding: 20px;
}

h1{
    color: var(--main-bg-color);
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p{
    padding:0;
}

aside{
    width: var(--content-width);
    margin: 10px;
    border:1px solid var(--aside-border-color) ;
    padding:15px ;
    background-color: var(--aside-bg-color);
    color:black ;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 20px;
    border-top: 2px solid #000;
    text-align: center;
}